<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  {{{body}}}
  <footer>
    <p>Copyright © 2023</p>
  </footer>
</body>

</html>